@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

*{
  margin: 0 auto;
}

.navbar {
  background-color: white;
  display: flex;
  padding: 16px;
  font-family: 'Playfair Display', serif;
  color: black;
}

.navbarLink {
  padding-right: 8px;
}

#mainTitle{
  font-family: 'Indie Flower', cursive;
}

.fas{
  padding-right: 5px;
}

.navHover:hover{
  border-bottom: 1px solid black;
}

.navbarItems {
  display: flex;
}
.navbarItems-right {
  margin-left:auto;
}
.navbarLink-toggle {
  display: none;
}

#mainWork{
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #f6f6f6;
  font-family: 'Playfair Display', serif;
}

#headings{
  padding: 20%;
  width: 50%;
  text-align: center;
}

#headings h1{
  padding-bottom: 20px;
}

#headings p{
  font-family: 'Indie Flower', cursive;
}

#photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px 300px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#photos img{
  filter: grayscale(100%);
}

#photos img:hover{
  filter: grayscale(0);
  transform: scale(1.01);
}

#photos a{
  text-decoration: none;
  clear: both;
}

#pic1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#pic3 {
    grid-row-start: 2;
    grid-row-end: 4;
}
#pic4 {
    grid-column-start: 2;
    grid-column-end: 4;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#icons li{
    display: inline-block;
    cursor: pointer;
}

.fab{
  border: 1px solid black;
  border-radius: 50px;
  font-size: 20px;
  padding: 15px;
}

.fab:hover{
  background-color: #f6f6f6;
}

.fa-facebook:hover{
  color:#3b5998;
}

.fa-youtube:hover{
  color: #FF0000;
}

.fa-snapchat:hover{
  color: #FFFC00;
}

.fa-twitter:hover{
  color: #0084b4;
}

.fa-instagram:hover{
  color: pink;
}

#icons ul{
  text-align: center;
  margin-top: 20px;
  margin-right: 30px;
}

#copyright{
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-top: 20px;
  font-style: italic;
}

#footerText{
  font-size: 20px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

#footer{
  margin-top: 20px;
  height: 120px;
  width: 100%;
  background-color: white;
}

button{
  background:;
  color:black;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-top: 20px;
}
button:hover{
  background:black;
  color:white;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: white;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.navbar a {text-decoration: none}
.navbar a:visited {text-decoration: none;
color: black;}



@media only screen and (max-width: 768px) {
  .navbarItems,
  .navbar {
    flex-direction: column;
  }
.navbarItems {
    display:none;
  }
.navbarItems-right {
    margin-left:0;
  }
.navbarToggleShow {
    display: flex;
  }
.navbarLink-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   }

}

@media only screen and (max-width: 600px) {
  #photos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
  }

  #photos img{
    margin-top: 30px;
  }
}
