@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
  margin: 0 auto;
}

.navbar {
  background-color: white;
  display: flex;
  padding: 16px;
  font-family: 'Playfair Display', serif;
  color: black;
}

.navHover {
  transition: 1s ease;
  padding: 8px;
}

.navHover:hover{
  background-color: rgba(0,0,0);
  color: white;
}

#mainTitle{
  font-family: 'Indie Flower', cursive;
}

.fas{
  padding-right: 5px;
}

.navbarItems {
  display: flex;
}
.navbarItems-right {
  margin-left:auto;
}
.navbarLink-toggle {
  display: none;
}

.portfolioHeading{
  text-align: center;
  padding: 20px;
}

.portfolioHeading h1{
  font-family: 'Playfair Display', serif;
  border-bottom: 2px solid black;
  border-length: 10px;
}

.portfolioHeading p{
  font-family: 'Indie Flower', cursive;
  margin-top: 10px;
}

#main{
  background-color: #f6f6f6;
}

#gallary {
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 20vw);
    grid-gap: 5px;
}

#gallary img{
  transition: 1s ease;
}

#gallary img:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#icons li{
    display: inline-block;
    cursor: pointer;
}

/* Selector for the icons. Adding some border and spacing. */
.fab{
  border: 1px solid black;
  border-radius: 15px;
  font-size: 20px;
  padding: 15px;
  transition: 1s ease;
}

/* When you hover on the items, the color changes and it scales them up. */
.fab:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.fa-facebook:hover{
  background-color:#3b5998;
}

.fa-youtube:hover{
  background-color: #FF0000;
}

.fa-snapchat:hover{
  background-color: #FFFC00;
}

.fa-twitter:hover{
  background-color: #0084b4;
}

.fa-instagram:hover{
  background-color: pink;
}

#icons li{
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
}

#icons ul{
  text-align: center;
  margin-top: 20px;
  margin-right: 30px;
}

#copyright{
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-top: 20px;
  font-style: italic;
}

#footerText{
  font-size: 20px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

#footer{
  padding-top: 20px;
  margin-top: 20px;
  height: 120px;
  width: 100%;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 768px) {
  .navbarItems,
  .navbar {
    flex-direction: column;
  }
.navbarItems {
    display:none;
  }

.navbarToggleShow {
    display: flex;
  }
.navbarLink-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   }
   
   .mobileNav{
     margin: 10px;
     text-align: center;
   }

   #gallary {
       margin-left: auto;
       margin-right: auto;
       display: flex;
       flex-direction: column;
       width: 80%;
   }

   #gallary img{
     height: 400px;
     margin-bottom: 20px;
   }

}
